{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content%}
<div class="home-container">
    <h2>
  {{ categories.name|capfirst }}
    </h2> 
    <p>
        {{ categories.description }}
    </p>  
</div>
<div class="cat-posts column container">
  {% for post in posts %}
  {% if post.is_published == True %}
  <a href="{% url 'single-post' post.slug %}">
    <div class="new-posts single-posts {% if forloop.counter|divisibleby:2 %}reverse-layout{% endif %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">

        <div class="text-content">
            <h6>{{ post.title }}</h6>
            <p>{{ post.short_description }}</p>
        </div>
    </div>
</a>
  {% else %}
   
  {% endif %}
  {% endfor %}
</div>
{% endblock %}