{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="index-intro">
        <h1>Welcome to Open Source News</h1>
        <h3>Independent, Open Sourced Journalism from around the globe.</h3>
    </div>
    <div class="categories-container">
        <ul class="categories-list">
            {% for category in categories %}
            <li class="category-item">
                <a href="{% url 'category-list' category.slug %}">
                <h6>{{ category.name }}</h6>
                <p>{{ category.description }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="trending-stories row">
        {% if breaking_article %}
        <h2>Breaking News:</h2>
        <a href="{% url 'single-post' breaking_article.slug %}">
            <div class="breaking-news new-posts">
                <img src="{{ MEDIA_URL }}{{ breaking_article.image.url }}" alt="{{ breaking_article.title }}">
                <div class="text-content">
                    <h2>{{ breaking_article.title }}</h2>
                    <p>{{ breaking_article.short_description }}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% for category in full_categories %}
        {% if category.homepage %}
        <div class="category-section border-top border-1 border-dark m-3">
            <h3>{{ category.name }}</h3>
            <div class="new-posts-scroll">
                {% for article in category.articles.all|slice:":5" %}
                {% if article.is_published and not article.is_breaking %}
                <div class="col-12 col-md-6 col-sm-6"> <!-- Two columns per row -->
                    <a href="{% url 'single-post' article.slug %}">
                        <div class="new-posts new-posts-secondary">
                            <img src="{{ article.image.url}}" alt="{{ article.title }}">
                            <div class="text-content m-3">
                                <h4>{{ article.title }}</h4>
                                <p>{{ article.short_description }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

</div>
{% endblock %}