{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
{% block content %}
<div class="container">
    <div class="index-intro">
        <h1>Welcome to Open Source News</h1>
        <h3>Independent, Open Sourced Journalism from around the globe.</h3>
    </div>
    <div class="categories-container">
        <ul class="categories-list">
            {% for category in categories %}
            <li class="category-item">
                <a href="#">{{ category.name }}</a>
                <p>{{ category.description }}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="trending-stories row">
        {% if breaking_article %}
        <h2>Breaking News:</h2>
        <a href="{% url 'single-post' breaking_article.slug %}">
            <div class="breaking-news new-posts">
                <img src="{{ breaking_article.image.url }}" alt="{{ breaking_article.title }}">
                <div class="text-content">
                    <h2>{{ breaking_article.title }}</h2>
                    <p>{{ breaking_article.short_description }}</p>
                </div>
            </div>
        </a>
        {% endif %}
        {% for category in full_categories %}
        {% if category.homepage %}
        <div class="category-section">
            <h3 class=>{{ category.name }}</h3>
            <div class="new-posts-scroll">
                {% for article in category.articles.all|slice:":5" %}
                    {% if article.is_published and not article.is_breaking %}
                        <div class="col-12 col-md-6 col-sm-6"> <!-- Two columns per row -->
                            <a href="{% url 'single-post' article.slug %}">
                                <div class="new-posts new-posts-secondary">
                                    <img src="{{ article.image.url }}" alt="{{ article.title }}">
                                    <div class="text-content">
                                        <h4>{{ article.title }}</h4>
                                        <p>{{ article.get_excerpt }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <!--
        <div class='row'>
        {% for article in article_lists %}
        {% if article.is_published %}
            <div class="col-md-6 mb-6">
                <a href="{% url 'single-post' article.slug %}">
                    <div class="new-posts {% if forloop.counter|divisibleby:2 %}reverse-layout{% endif %}">
                        <img src="{{ article.image.url }}" alt="{{ article.title }}">
                        <div class="text-content">
                            <p>Author: {{ article.created_by }}</p>
                            <h4>{{ article.title }}</h4>
                            <p>{{ article.get_excerpt }}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endif %}
        {% endfor %}
    </div>
-->
    </div>
    
</div>
{% endblock %}